#header{
	background-color:#107eae;
	text-align: center;
}

#homepage-icons{
	background-color:#f1f1f1;
	text-align: center;
}

#footer{
	background-color:#107eae;
	text-align: center;
}

#search-btn{
	color:white;
	font-size:25px;
	padding:10px;
}
