<!-- Page Starts -->
<div class="col-xs-12 col-sm-12" id="homepage-icons">
  </br>
  <div class="row">
  	<div class="col-xs-6 col-sm-6">
	  <a href="#/visit"><img ng-src="{{homeicons[3].imageUrl}}" alt="Record Visit"></a>
    </div>
    <div class="col-xs-6 col-sm-6">
	  <a href="#/test"><img ng-src="{{homeicons[2].imageUrl}}" alt="Record Test" /></a>
    </div>	
  </div>
  </br>
  <div class="row">
  	<div class="col-xs-6 col-sm-6">
	  <a href="#/history"><img ng-src="{{homeicons[0].imageUrl}}" alt="History" /></a>
    </div>
    <div class="col-xs-6 col-sm-6">
	  <a href="#/profile"><img ng-src="{{homeicons[1].imageUrl}}" alt="Profile" /></a>
    </div>	
  </div>
  </br>
</div>
<!-- Page Ends -->

<!-- Footer Starts -->
  <div class="col-xs-12 col-sm-12" id="footer">
	<span class="glyphicon glyphicon-search" id="search-btn"></span>
  </div> 
<!-- Footer Ends -->

